html {
    height: 100%;
}

body {
    display: block;
    height: 100%;
    margin: 0px;
    background-color: black;
}

.white-text {
    color: #ffffff;
}

.red-text {
    color: rgb(210, 0, 0);
}

