{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Outbreak Tracker</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/map_style.css' %}">
</head>
<body>

    <div id="page">
        <div class="topnav">
            <h2 class="main-title">Covid-19 Cases Worldwide</h2>
        </div>

        <div id="content">
            <div id="country-table" class="scroller flexcroll">
                <!-- Country table injection by js -->
            </div>
            <div id="map-total">
                <div id="total-cases">
                    <!-- Total cases injection by js -->
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>

</body>
<footer>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="{% static 'js/map_class.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</footer>
</footer>
</html>